body, html {
  height: 100%;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

.title-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.title {
  font-weight: bold;
  font-size: 32px;
}

.input-box-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.input-box {
  padding: 16px;
}

.inputbox {
  padding: 8px;
  border-radius: 12px;
  border: 1px solid rgb(155, 155, 155);
  font-size: 16px;
}