body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  font-weight: bold;
  font-size: 32px;
}

.todo-list {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list li {
  width: 25%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease;
}

.todo-list li.done {
  text-decoration: line-through;
  background-color: rgb(240, 255, 240);
}

.add-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 90, 180, 0.35);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  transition: background-color 0.3s ease, width 0.5s ease, height 0.5s ease, font-size 0.5s ease;
}

.add-btn:hover {
  background-color: #0056b3;
  width: 56px;
  height: 56px;
  font-size: 34px;
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  background-color: #fff;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0 0 200px rgb(255, 255, 255);
}

.task-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 20px;
  box-sizing: border-box;
}

.task-controls {
  display: flex;
  align-items: center;
}

.green-circle, .red-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.green-circle {
  background-color: lightgreen;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.green-circle:hover {
background-color: rgb(6, 212, 6);
}

.red-circle {
  background-color: lightcoral;
  transition: background-color 0.3s ease;
}

.red-circle:hover {
  background-color:  rgb(235, 63, 63);
}

.undo-btn {
  opacity: 30%;
  width: 50px;
  transition: width 0.5s ease, opacity 0.5s ease;
}

.undo-btn:hover {
  width: 56px;
  opacity: 0.5;
}